<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <servlet>
    <servlet-name>JavaScript</servlet-name>
    <display-name>JWt JavaScript example</display-name>
    <description>JWt JavaScript example</description>
    <servlet-class>eu.webtoolkit.jwt.examples.javascript.JavaScriptMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JavaScript</servlet-name>
    <url-pattern>/JavaScript/*</url-pattern>
  </servlet-mapping>
</web-app>

