<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <listener>
    <listener-class>eu.webtoolkit.jwt.ServletInit</listener-class>
  </listener>

  <servlet>
    <servlet-name>FileTreeTable</servlet-name>
    <display-name>JWt FileTreeTable example</display-name>
    <description>JWt FileTreeTable example</description>
    <servlet-class>eu.webtoolkit.jwt.examples.filetreetable.FileTreeExample</servlet-class>
    <init-param>
      <param-name>startDir</param-name>
      <param-value>/home/koen/project</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>FileTreeTable</servlet-name>
    <url-pattern>/filetreetable/*</url-pattern>
  </servlet-mapping>
</web-app>

