<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <listener>
    <listener-class>eu.webtoolkit.jwt.ServletInit</listener-class>
  </listener>
 
  <servlet>
    <servlet-name>BobSmith</servlet-name>
    <display-name>JWt BobSmith example</display-name>
    <description>JWt BobSmith example</description>
    <servlet-class>eu.webtoolkit.jwt.examples.bobsmith.BobSmithMain</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>BobSmith</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>

