<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <servlet>
    <servlet-name>BobSmith</servlet-name>
    <display-name>JWt BobSmith example</display-name>
    <description>JWt BobSmith example</description>
    <servlet-class>eu.webtoolkit.jwt.examples.bobsmith.BobSmithMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BobSmith</servlet-name>
    <url-pattern>/BobSmith/*</url-pattern>
  </servlet-mapping>
</web-app>

