<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <listener>
    <listener-class>eu.webtoolkit.jwt.ServletInit</listener-class>
  </listener>

  <servlet>
    <servlet-name>Gallery</servlet-name>
    <display-name>JWt Gallery example</display-name>
    <description>JWt Gallery example</description>
    <servlet-class>eu.webtoolkit.jwt.examples.widgetgallery.WidgetGalleryServlet</servlet-class>
    <async-supported>true</async-supported>
    <init-param>
      <param-name>jwt-config</param-name>
      <param-value>jwt_config.xml</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>Gallery</servlet-name>
    <url-pattern>/gallery/*</url-pattern>
  </servlet-mapping>
</web-app>

