<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
          xmlns="http://java.sun.com/xml/ns/javaee"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"> 

  <listener>
    <listener-class>eu.webtoolkit.jwt.ServletInit</listener-class>
  </listener>

  <!-- For Tomcat
  <filter>
    <filter-name>SetCharacterEncoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>SetCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
   End for Tomcat -->

  <!-- This applies only to servlet 3.0 -->
  <session-config>
  	<tracking-mode>URL</tracking-mode>
  </session-config>

  <servlet>
    <servlet-name>SimpleChat</servlet-name>
    <servlet-class>eu.webtoolkit.jwt.examples.simplechat.ChatMain</servlet-class>
    <async-supported>true</async-supported>
  </servlet>

  <servlet-mapping>
    <servlet-name>SimpleChat</servlet-name>
    <url-pattern>/simplechat/*</url-pattern>
  </servlet-mapping>
</web-app>

