<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <listener>
    <listener-class>eu.webtoolkit.jwt.ServletInit</listener-class>
  </listener>

  <!-- For Tomcat
  <filter>
    <filter-name>SetCharacterEncoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>SetCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
   End for Tomcat -->

  <!-- This applies only to servlet 3.0 -->
   <session-config>
    <tracking-mode>URL</tracking-mode>
  </session-config>

  <servlet>
    <servlet-name>Hello</servlet-name>
    <display-name>JWt Hello WidgetSet example (stand alone)</display-name>
    <description>JWt Hello WidgetSet example</description>
    <servlet-class>eu.webtoolkit.jwt.examples.hellowidgetset.HelloMain</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>HelloWidgetSet</servlet-name>
    <display-name>JWt Hello WidgetSet example (embedded)</display-name>
    <description>JWt Hello WidgetSet example</description>
    <servlet-class>eu.webtoolkit.jwt.examples.hellowidgetset.HelloWidgetSetMain</servlet-class>
	<init-param>
      <param-name>ApplicationType</param-name>
      <param-value>WidgetSet</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>HelloWidgetSet</servlet-name>
    <url-pattern>/HelloWidgetSet/*</url-pattern>
  </servlet-mapping>
</web-app>

