<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <listener>
    <listener-class>eu.webtoolkit.jwt.ServletInit</listener-class>
  </listener>

  <servlet>
    <servlet-name>Hello</servlet-name>
    <display-name>JWt Hello WidgetSet example (stand alone)</display-name>
    <description>JWt Hello WidgetSet example</description>
    <servlet-class>eu.webtoolkit.jwt.examples.hellowidgetset.HelloMain</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>HelloWidgetSet</servlet-name>
    <display-name>JWt Hello WidgetSet example (embedded)</display-name>
    <description>JWt Hello WidgetSet example</description>
    <servlet-class>eu.webtoolkit.jwt.examples.hellowidgetset.HelloWidgetSetMain</servlet-class>
    <init-param>
      <param-name>ApplicationType</param-name>
      <param-value>WidgetSet</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>HelloWidgetSet</servlet-name>
    <url-pattern>/HelloWidgetSet/*</url-pattern>
  </servlet-mapping>
</web-app>

