<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <listener>
    <listener-class>eu.webtoolkit.jwt.ServletInit</listener-class>
  </listener>

  <servlet>
    <servlet-name>TreeView</servlet-name>
    <display-name>JWt TreeView example</display-name>
    <description>JWt TreeView example</description>
    <servlet-class>eu.webtoolkit.jwt.examples.treeview.TreeViewMain</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TreeView</servlet-name>
    <url-pattern>/treeview/*</url-pattern>
  </servlet-mapping>
</web-app>

