<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <listener>
    <listener-class>eu.webtoolkit.jwt.ServletInit</listener-class>
  </listener>

  <servlet>
    <servlet-name>GoogleMap</servlet-name>
    <display-name>JWt GoogleMap example</display-name>
    <description>JWt GoogleMap example</description>
    <servlet-class>eu.webtoolkit.jwt.examples.googlemap.GoogleMapMain</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GoogleMap</servlet-name>
    <url-pattern>/googlemap/*</url-pattern>
  </servlet-mapping>
</web-app>

